<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Skill: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/homepage}"><img src="images/HOBBYCOVE.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="#">Explore</a></li>
                <li><a th:href="@{/community}">Community</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="bg">
        <br>
        <div class="card" id="skills" style="width:100%">
            <form action="#" th:action="@{/saveSkill}" th:object="${skill}" method="post">
                <h1>Skills</h1>
                <br><br>
                <label>Name:</label>
                <input type="text" required th:field="*{name}" name="name" placeholder="Name">
                <br>
                <button>Add skill</button>
            </form>
        </div>
    </div>
</body>
</html>