<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/homepage}"><img src="images/HOBBYCOVE.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="#">Explore</a></li>
                <li><a th:href="@{/community}">Community</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="bg">
        <br>
        <div class="card" id="bio" style="opacity: 0.8">
            <h1>Profile</h1>
            <img id="pic" src="images/default-female.png">
            <h2><span th:text="${name}"/></h2>
            <h3><span th:text="${role}"/></h3>
        </div>
        <div class="card" id="skills">
            <form action="#" th:action="@{/saveSkill}" th:object="${skill}" method="post">
                <h1 style="display: inline-block; padding-left: 30px">Skills</h1>
                <input type="image" class="icon" id="done" src="images/done-before.png">
                <br><br>
                <label for="skill">Skill:</label>
                <input type="text" th:field="*{name}" name="name" placeholder="Name">
            </form>
        </div>
        <div class="card" id="roadmap" style="opacity: 0.8">
            <h1>Roadmap</h1>
        </div>
    </div>
</body>
</html>