<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/homepage}"><img src="images/HOBBYCOVE.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="#">Explore</a></li>
                <li><a th:href="@{/community}">Community</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="bg">
        <br>
        <div class="card" id="bio">
            <h1 style="display: inline-block; padding-left: 30px">Profile</h1>
            <a th:href="@{/profile}"><img class="icon" src="images/done.png"></a>
            <br>
            <img id="pic" src="images/default-female.png">
            <h2><span th:text="${name}"/></h2>
            <h3><span th:text="${role}"/></h3>
            <h3>@<span th:text="${instagram}"/></h3>
            <h3><span th:text="${location}"/></h3>
            <p>Hello I love hobbies</p>
        </div>
        <div class="card" id="skills">
            <h1>Skills</h1>
            <br>
            <h2>Baking</h2>
            <p>I want to learn how to bake cakes</p>
        </div>
        <div class="card" id="roadmap">
            <h1>Roadmap</h1>
            <br>
            <h2>Embroidery</h2>
            <p>I learnt how to embroider on tote bags</p>
        </div>
    </div>
</body>
</html>