<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Explore Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="explore.css">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/homepage}"><img src="images/HOBBYCOVE.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="#">Explore</a></li>
                <li><a th:href="@{/getAllCommunities}">All Communities</a></li>
                <li><a th:href="@{/getUserCommunities}">My Communities</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <div class="imgBox">
            <img src="images/search.jpg" class="commpage">
        </div>
    </div>

    <div class="search_box">
        <form action="#" th:action="@{/searchUser}" th:object=${userrr} method="POST">
            <input type="text" th:field="*{name}" name="name" placeholder="Search...">
            <button type="submit"><span></span>SEARCH</button>
        </form>
    </div>

    <div class="uptop">
        <div class="bg" th:each="user:${userList}">
            <div class="card" id="bio">
                <h2 class="nameofuser" th:text="${user.name}"></h2>
                <!-- <img id="pic" src="hobbycove_g1t1/demo/demo/src/main/resources/static/images/HOBBYCOVE.png" alt=""> -->
                <br>
                <p><strong>Location:</strong></p>
                <p class="description" th:text="${user.location}"></p>
                <p><strong>Skill List:</strong></p>
                <table>
                    <tr th:if="${user.skills.isEmpty()}">
                        <td>No Skills</td>
                    </tr>
                    <tr th:each="skill:${user.skills}">
                        <td th:text="${skill.name}">
                    </tr>
                </table>
                <br>
                <a th:href="@{/goToProfile/{id}(id=${user.id})}">
                    <button class="viewbutton" type="button">
                        VIEW PROFILE
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>