<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-form">
        <h1>User or Location not found</h1>
        <form action="#" th:action= "@{/explore}" method="GET">
            <button type="submit"><span></span>RETURN</button>
        </form>
    </div>
</body>
</html>