<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="homepage.css"> -->
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/homepage}"><img src="images/HOBBYCOVE.png" class="logo"></a>
        <nav>
            <ul>
                <li><a th:href="@{/explore}">Explore</a></li>
                <li><a th:href="@{/getAllCommunities}">All Communities</a></li>
                <li><a th:href="@{/getUserCommunities}">My Communities</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <div class="textBox">
            <h2>Discover a world of new <span>Hobbies</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Nisi non nobis, natus a dolorem 
                dolorum nostrum. <br>Amet vero, error ut, non cumque recusandae perferendis ab nulla doloribus, 
                cum reiciendis exercitationem?</p>
        </div>
        <div class="imgBox">
            <img src="images/icon.jpg" class="hobbies">
        </div>
    </div>
    <!-- <div class="row">
        
        <div class="col">
            <h1>Discover a World of New Hobbies!</h1>
        </div>
    
        <div class="page-container">
            <article class="page-card">
                <figure class="page-image">
                    <img src="images/homepage/profile.jpg" alt="Profile" />
                </figure>
                <div class="page-content">
                    <h3 class="card-title">Profile</h3>
                    <p class="card-excerpt">Lorem ipsum dolor</p>
                    <a th:href="@{/newCommunityForm}"><button type="button"><span></span>Go to Profile</button></a>
                </div>
            </article>

            <article class="page-card">
                <figure class="page-image">
                    <img src="images/homepage/explore.jpg" alt="Explore" />
                </figure>
                <div class="page-content">
                    <h3 class="card-title">Explore</h3>
                    <p class="card-excerpt">Lorem ipsum dolor</p>
                    <a href="#"><button type="button"><span></span>Go to Explore</button></a>
                </div>
            </article>

            <article class="page-card">
                <figure class="page-image">
                    <img src="images/homepage/community.jpg" alt="Community" />
                </figure>
                <div class="page-content">
                    <h3 class="card-title">Community</h3>
                    <p class="card-excerpt">Lorem ipsum dolor</p>
                    <a href="#"><button type="button"><span></span>Go to Community</button></a>
                </div>
            </article>

        </div>
    </div> -->
</body>
</html>