<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Community Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="community.css">
</head>
<body>
    <div class="navbar">
        <a th:href="@{/homepage}"><img src="images/HOBBYCOVE.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="#">Explore</a></li>
                <li><a th:href="@{/getAllCommunities}">All Communities</a></li>
                <li><a th:href="@{/getUserCommunities}">My Communities</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <div class="imgBox">
            <img src="images/communitypage.jpg" class="commpage">
        </div>
    </div>

    <div class="uptop">
        <div class="bg" th:each="community:${communityList}">
            <div class="card" id="bio">
                <h2 class="nameofcommunity" th:text="${community.name}"></h2>
                <!-- <img id="pic" src="hobbycove_g1t1/demo/demo/src/main/resources/static/images/HOBBYCOVE.png" alt=""> -->
                <br>
                <p class="descriptionofcommunity" th:text="${community.description}"></p>
                <a th:href="@{/getPosts/{id}(id=${community.id})}">
                    <button class="viewbutton" type="button">
                        ENTER
                    </button>
                </a>
            </div>
        </div>
    </div>

</body>
</html>