<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page: HobbyCove</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="login-form">
        <h1>Sign Up Here!</h1>
        <form action="#" th:action= "@{/saveUser}" th:object = ${user} method="post">
            <p>Name</p>
            <input type="text" th:field= "*{name}" name="name" placeholder="Name">
            <p>Email</p>
            <input type="text" th:field= "*{email}" name="email" placeholder="Email">
            <p>Password</p>
            <input type="password" th:field= "*{password}" name="password" placeholder="Password">
            <p>Role</p>
            <select name="role">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <button type="submit"><span></span>Sign Up</button>
        </form>
    </div>
</body>
</html>